body {
    background: #fff;
    font-family: sans-serif;
}

.mainHeader {
    color: #FF5E5B;
}

.diaryHeader {
    color: #16425B;
}

.sectionHeader {
    color: #3342BF;
}

h2 {
    color: #1460aa;
}

.menu {
    padding: 10px;
    background: #0042BF;
    color: #FFF;
}

.menuLink {
    color: white;
    text-decoration: none;
}

.about {
    max-width: 900px;
    min-width: 500px;
}

.paragraph {
    padding: 10px;
    border: dotted;
    max-height: 200px;
    overflow: scroll;
}