body {
    background: #fff;
    font-family: sans-serif;
}

.mainHeader {
    color: #FF5E5B;
}

.diaryHeader {
    color: #16425B;
}

.sectionHeader {
    color: #3342BF;
}

h2 {
    color: #1460aa;
}

.menu {
    padding: 10px;
    background: #0042BF;
    color: #FFF;
}

.menuLink {
    color: white;
    text-decoration: none;
}

.about {
    min-width: 500px;
    position: relative;
}

.box {
    height: 100px;
    width: 100px;
    background: #555;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 5px solid red;
    box-sizing: border-box;
    position: absolute;
}

.paragraph {
    padding: 10px;
    border: dotted;
    max-height: 200px;
    overflow: auto;
    max-width: 1000px;
    ;
}