body {
    background: #fff;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.menu {
    padding: 10px;
    width: 100%;
    margin: 0;
    background: #0042BF;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu__link {
    color: #fff;
    padding: 10px 30px;
}

.menu__link:hover {
    background: #003495;
}

.content {
    padding: 40px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.content__heading {
    color: #FF5E5B;
}

.paragraph {
    padding: 10px;
    border: dotted;
    max-height: 200px;
    overflow: auto;
    text-align: justify;
}

.paragraph__header {
    color: #3342BF;
}

.about__header {
    color: #3342BF;
}

.about__image {
    height: 150px;
    float: right;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}